h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.creature-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border: 1px solid #ddd;
  transition: transform 0.3s ease;
  width: 250px;
  height: 400px;
  overflow: auto;
  margin-top: 10px;

  &:hover {
    transform: scale(1.05);
  }

  .creature-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  p {
    font-size: 0.9em;
    color: #666;
  }

  .creature-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}
