<h1><%= @prefecture.name %> のスポット一覧</h1>
<ul>
  <% @spots.each do |spot| %>
    <li><%= link_to spot.name, prefecture_spot_path(@prefecture, spot) %></li>
  <% end %>
</ul>
<%= link_to '日本地図', root_path(anchor: 'map') %>
